@import '../../../styles/easing';

.settings-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
    fill: #fff;
    transition: fill .4s $easeInOutSine 0s;
  }

  &:hover {
    svg {
      fill: var(--item-bg);
    }
  }
}