.board {
  --size: 33.333333333333333%;
  $transitionSettings: .4s ease-in-out 0s;

  max-width: 400px;
  margin: 20px auto;
  position: relative;
  background: #b53f3f;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);

  &::before {
    content: ' ';
    display: block;
    padding-top: 100%;
  }
  &-item {
    .stop-game & {
      cursor: default;
    }
    top: 0;
    left: 0;
    color: #fff;
    width: var(--size);
    height: var(--size);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: brown;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .4);
    transition: left $transitionSettings, top $transitionSettings;
  }
}