.moves {
  margin: 0 0 0 auto;
  background: #375a7f;
  border-radius: 5px;
  text-align: center;
  padding: 7px 15px;
  min-width: 50px;

  &-title {
    font-size: 12px;
  }
  &-numb {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 0;
  }
}